html {
    font-size: 14px;
}
body {
    font-family: "Open Sans",sans-serif;
    line-height: 1.4;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    background-color: inherit;
    color: #399bd1;
}
.navbar {
    font-size: 1.1rem;
    font-weight: 600;
}
.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
  text-shadow: 1px 1px 2px black;
  color: white;
}
.jumbotron-bike h1 {
    font-family: 'Monoton', monospace;
}
